/* GENERAL */
html {
  scroll-behavior: smooth;
  width: 100%;
}
p {
  margin: 0;
}
body {
  margin: 0;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  background-color: #222222;
}
h3 {
  background: linear-gradient(#056e67, #91d9cc);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-size: 2rem;
}
.button,
.submit {
  text-decoration: none;
  background: radial-gradient(#77aaa1, #118880);
  color: #e4e4e4;
  font-family: " Oswald ", sans-serif;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  width: 150px;
  align-self: center;
  border: none;
  margin: 1rem;
}
.button:hover,
.button:focus,
.button:active,
.submit:hover,
.submit:focus,
.submit:active {
  border: 1px solid #118880;
  box-shadow: 6px 3px 10px #084743;
  color: #77aaa1;
  background: #0a0a0a;
}
/*Sous-lignage*/
.sub * {
  margin: 1rem;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
}
.sub,
.sub > h2 {
  text-decoration: none;
}
.sub > h2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #91d9cc;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}
.sub > h2:hover:before,
.sub > h2:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
.sub h2:before {
  box-shadow: 0 0 10px 2px #008696;
}

/* FIN GENERAL */

/* HEADER */

.navbar {
  background: linear-gradient(rgb(26, 25, 25), #000);
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.navbar-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar-burger {
  width: 5rem !important;
}
.navbar-brand a img {
  padding: 0.5rem;
  width: 60%;
}
.navbar-menu {
  margin: auto;
  background-color: transparent;
}
.navbar-menu a {
  color: #fff;
}
.navbar-menu h2 {
  font-size: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar-menu {
    display: flex;
    justify-content: flex-end;
  }
}
/* FIN HEADER */

/*WELCOME*/

.Intro h1,
.Intro h2 {
  text-align: right;
  color: rgb(216, 215, 215);
  text-shadow: 0 0 18px rgba(202, 228, 225, 0.92);
  font-family: "Oswald", sans-serif;
}
.Intro h1 {
  font-size: 3rem;
}
.Intro h2 {
  font-size: 2rem;
}

@media only screen and (min-width: 745px) {
  .Intro h1 {
    font-size: 4rem;
  }
  .Intro h2 {
    font-size: 2.5rem;
  }
}
/* Northern Lights animation */
.bigbox {
  display: flex;
  align-items: center;
  height: 100vh;
  background: rgb(2, 2, 2);
  background-size: cover;
}
.Intro {
  z-index: 0;
  position: absolute;
  right: 20px;
  bottom: 0px;
}

.box {
  width: 20%;
  height: 3em;
  opacity: 0.75;
  -webkit-filter: blur(90px);
}

.box1 {
  background: #008696;
  -webkit-animation: grow 3s infinite alternate backwards;
  -moz-animation: grow 3s infinite alternate backwards;
  -o-animation: grow 3s infinite alternate backwards;
  animation: grow 3 infinite alternate backwards;
}

.box2 {
  background: #91d9cc;
  -webkit-animation: grow 5s infinite alternate backwards ease-in-out;
  -moz-animation: grow 5s infinite alternate backwards ease-in-out;
  -o-animation: grow 5s infinite alternate backwards ease-in-out;
  animation: grow 5s infinite alternate backwards ease-in-out;
}

.box3 {
  background: #756c8d;
  -webkit-animation: grow 7s infinite alternate backwards ease-in-out;
  -moz-animation: grow 7s infinite alternate backwards ease-in-out;
  -o-animation: grow 7s infinite alternate backwards ease-in-out;
  animation: grow 7s infinite alternate backwards ease-in-out;
}

.box4 {
  background: #4b8a6c;
  -webkit-animation: grow 8s infinite alternate backwards ease-in-out;
  -moz-animation: grow 8s infinite alternate backwards ease-in-out;
  -o-animation: grow 8s infinite alternate backwards ease-in-out;
  animation: grow 8s infinite alternate backwards ease-in-out;
}

.box5 {
  background: #91d9cc;
  -webkit-animation: grow 10s infinite alternate backwards ease-in-out;
  -moz-animation: grow 10s infinite alternate backwards ease-in-out;
  -o-animation: grow 10s infinite alternate backwards ease-in-out;
  animation: grow 10s infinite alternate backwards ease-in-out;
}

@-webkit-keyframes grow {
  0% {
    height: 10vh;
  }
  100% {
    height: 100vh;
  }
}
@-moz-keyframes grow {
  0% {
    height: 10vh;
  }
  100% {
    height: 100vh;
  }
}
@-o-keyframes grow {
  0% {
    height: 10vh;
  }
  100% {
    height: 100vh;
  }
}
@keyframes grow {
  0% {
    height: 10vh;
  }
  100% {
    height: 100vh;
  }
}
/*FIN WELCOME*/

/*A-PROPOS*/
#Apropos {
  background: #0a0a0a;
  padding: 1rem;
}
#Apropos-info {
  display: flex;
  flex-direction: column;
}
#Apropos-info img {
  width: 60%;
  border-radius: 50%;
  margin: auto;
}
@media only screen and (min-width: 745px) {
  #Apropos {
    padding: 8rem;
  }
  #Apropos-info img {
    width: 40%;
  }
}
@media only screen and (min-width: 992px) {
  #Apropos-info img {
    width: 30%;
  }
}

/* Atouts */
.atout-wrap {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.atout {
  display: block;
  font-family: "BebasNeueRegular", "Arial Narrow", Arial, sans-serif;
  border: 8px solid #fff;
  padding: 2%;
  font-size: 30px;
  letter-spacing: 3.5px;
  line-height: 50px;
  margin: 10px;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.atout h4 {
  margin: 0;
}
.atout p {
  margin: 0;
  font-size: 12px;
  line-height: 17px;
  text-align: left;
  background: rgba(117, 117, 117, 0.712);
  border-radius: 4px;
  padding: 0.3rem;
}

.humanite {
  background: url("./IMG/TEAM.webp");
}
.dynamisme {
  background: url("./IMG/dynamisme.webp");
}
.eclectisme {
  background: url("./IMG/serieux.webp");
}

@media only screen and (min-width: 755px) {
  .atout {
    width: 400px;
    height: 400px;
    color: rgba(255, 255, 255, 0.1);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 66px;
  }
  .atout h4 {
    margin: 2rem 0;
  }
  .atout p {
    font-size: 20px;
    line-height: 22px;
  }

  #humatext,
  #dynatext,
  #ecltext {
    display: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .humanite:hover #humatext,
  .humanite:focus #humatext,
  .humanite:active #humatext,
  .dynamisme:hover #dynatext,
  .dynamisme:focus #dynatext,
  .dynamisme:active #dynatext,
  .eclectisme:hover #ecltext,
  .eclectisme:focus #ecltext,
  .eclectisme:active #ecltext {
    display: block;
  }
  .atout:hover,
  .atout:focus,
  .atout:active {
    box-shadow: 1px 3px 7px rgba(255, 255, 255, 0.733);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.9);
  }
}
/*FIN A-PROPOS*/
/* MON TRAVAIL */
#Travail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.cards {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.card {
  background-color: #e0e0e0;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  width: 250px;
  overflow: hidden;
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card1 {
  background: url(./IMG/pokedex.webp);
}
.card2 {
  background: url(./IMG/blog.webp);
}
.card-title {
  color: #e0e0e0;
  font-size: 3rem;
  background-color: #0a0a0a;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
}
.card-body {
  padding: 1rem;
  color: #0a0a0a;
  display: flex;
  flex-direction: column;
}
.card a {
  margin: 1rem;
  text-decoration: none;
  border: 1px solid #0a0a0a;
  border-radius: 0.25rem;
  color: #0a0a0a;
  cursor: pointer;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}
.card a:focus,
.card a:hover,
.card a:active {
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
  background: #0a0a0a;
  box-shadow: 1px 3px 7px rgba(255, 255, 255, 0.733);
}
@media only screen and (min-width: 755px) {
  #Travail {
    padding: 8rem;
  }
  .card {
    width: 300px;
  }
}
/* FIN MON TRAVAIL */
/*CONTACT*/
#Contact {
  background: #0a0a0a;
  padding: 1rem;
}
.contenu-contact {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#form {
  display: flex;
  flex-direction: column;
}
#form label {
  text-align: left;
}
#form input[type="text"],
#form input[type="email"],
#form textarea {
  border: none;
  border-bottom: 2px solid #91d9cc;
  background: #0a0a0a;
  color: #91d9cc;
  font-family: "Oswald", sans-serif;
}
#form input[type="submit"] {
  margin: 0.5rem;
}
.contactecrit {
  text-decoration: none;
}
@media only screen and (min-width: 755px) {
  #Contact {
    padding: 8rem;
  }
  .contenu-contact {
    flex-direction: row;
  }
}
/*FIN CONTACT*/

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
footer a {
  text-decoration: none;
  color: #e4e4e4;
  display: flex;
  justify-content: center;
}
footer a img {
  width: 50%;
  opacity: 80%;
}
footer a img:hover,
footer a img:focus {
  opacity: 100%;
}
.socials,
.go-up {
  display: flex;
}
/*FIN FOOTER*/
