/* GENERAL */
html {
  scroll-behavior: smooth;
  width: 100%;
}
p {
  margin: 0;
  word-spacing: 0.3rem;
}
body {
  margin: 0;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 200;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  background-color: #222222;
}
h3 {
  color: #91d9cc;
  font-size: 1.5rem;
  font-size: 2rem;
}
.button,
.submit {
  text-decoration: none;
  background: #118880;
  color: #e4e4e4;
  font-family: " Oswald ", sans-serif;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  align-self: center;
  border: none;
  margin: 1rem;
}
.button:hover,
.button:focus,
.button:active,
.submit:hover,
.submit:focus,
.submit:active {
  border: 1px solid #118880;
  box-shadow: 6px 3px 10px #084743;
  color: #77aaa1;
  background: #0a0a0a;
}
/*Sous-lignage*/
.sub * {
  margin: 1rem;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
}
.sub,
.sub > h2 {
  text-decoration: none;
}
.sub > h2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #91d9cc;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}
.sub > h2:hover:before,
.sub > h2:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
.sub h2:before {
  box-shadow: 0 0 10px 2px #008696;
}

/* FIN GENERAL */

/* HEADER */

.navbar {
  background: linear-gradient(rgb(26, 25, 25), #000);
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.navbar-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar-burger {
  width: 5rem !important;
  color: #fff;
}
.navbar-brand a img {
  padding: 0.5rem;
  width: 60%;
}
.navbar-menu {
  margin: auto;
  background-color: transparent;
}
.navbar-menu a {
  color: #fff;
}
.navbar-menu h2 {
  font-size: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar-menu {
    display: flex;
    justify-content: flex-end;
  }
}
/* FIN HEADER */

/*WELCOME*/
.bigbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #222222;
  background-size: cover;
}
.Intro {
  width: 50vh;
  height: 50vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 4s;
  box-shadow: 2vh 2vh 5vh #91d9cc;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Intro h1,
.Intro h2,
.Intro p {
  color: rgb(216, 215, 215);
  text-shadow: 0 0 1vh rgba(202, 228, 225, 0.92);
}
.Intro h1 {
  font-size: 8vh;
}
.Intro h2 {
  font-size: 5vh;
}
.Intro p {
  font-size: 5vh;
}
/*FIN WELCOME*/

/*A-PROPOS*/
#Apropos {
  background: #0a0a0a;
  padding: 1rem;
}
#Apropos-info {
  display: flex;
  flex-direction: column;
}
#Apropos-info img {
  width: 60%;
  border-radius: 50%;
  margin: auto;
}
@media only screen and (min-width: 745px) {
  #Apropos {
    padding: 8rem;
  }
  #Apropos-info img {
    width: 40%;
  }
}
@media only screen and (min-width: 992px) {
  #Apropos-info img {
    width: 30%;
  }
}

/* Atouts */
#qualite {
  /* margin: 2rem; */
  display: flex;
  flex-direction: column;
}
.quali {
  background-color: #222222;
  padding: 1rem;
  margin: 1rem;
}
@media only screen and (min-width: 992px) {
  #qualite {
    flex-direction: row;
    justify-content: space-around;
  }
}
/*FIN A-PROPOS*/
/* MON TRAVAIL */
#Travail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.cards {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.work {
  background-color: #000;
  margin: 1rem;
  max-width: 25rem;
  box-shadow: 10px 5px 5px #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-content,
.card .title {
  color: #fff;
}
.card .content p {
  text-align: left;
}
.card .card-footer:hover,
.card .card-footer:active,
.card .card-footer:focus,
.card a:hover,
.card a:active,
.card a:focus {
  color: #fff;
  background-color: #118880;
}

/* FIN MON TRAVAIL */
/*CONTACT*/
#Contact {
  background: #0a0a0a;
  padding: 1rem;
}
.contenu-contact {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#form {
  display: flex;
  flex-direction: column;
}
#form label {
  text-align: left;
}
#form input[type="text"],
#form input[type="email"],
#form textarea {
  border: none;
  border-bottom: 2px solid #91d9cc;
  background: #0a0a0a;
  font-size: 1.1rem;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}
#form input[type="submit"] {
  margin: 0.5rem;
}
.input:active,
.input:focus,
.is-active.input,
.is-active.textarea,
.is-focused.input,
.is-focused.textarea,
.textarea:active,
.textarea:focus {
  box-shadow: 0 0 0 0.125em #91d9cc;
}
/* .contactecrit {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
/* .contacts {
  margin: 1rem;
} */
@media only screen and (min-width: 755px) {
  #Contact {
    padding: 8rem;
  }
  .contenu-contact {
    flex-direction: row;
  }
}
/*FIN CONTACT*/

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
footer a {
  text-decoration: none;
  color: #e4e4e4;
  display: flex;
  justify-content: center;
}
footer a img {
  width: 50%;
  opacity: 80%;
}
footer a img:hover,
footer a img:focus {
  opacity: 100%;
}
.socials,
.go-up {
  display: flex;
}
/*FIN FOOTER*/
