.presentation {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  img {
    z-index: 2;
    width: 90%;
  }
  .blabla {
    display: flex;
    flex-direction: column;
    z-index: 0;
    .blue-square {
      padding: 8rem 1rem 1.5rem 1rem;
    }
    .bs {
      top: -7.5rem;
      left: 0.5rem;
      z-index: 0;
    }
    p {
      margin: 0.2rem;
      span {
        color: $teal;
      }
    }

    .button {
      position: relative;
      z-index: 3;
      top: -10rem;
    }
  }
}

@media only screen and (min-width: 992px) {
  .presentation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .blabla {
      .blue-square {
        padding: 2rem 3rem;
      }
      .bs {
        top: 0rem;
        left: -2rem;
      }
      img {
        width: 80%;
      }
      .button {
        top: -2.5rem;
      }
    }
  }
}
