.Works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  .work {
    display: flex;
    flex-direction: column;
    .bs {
      top: -7.5rem;
      left: 0.5rem;
      z-index: 0;
    }
    .blue-square {
      padding: 8rem 1rem 3rem 1rem;
      h2 {
        margin: 1rem 0rem;
      }
    }
    img {
      z-index: 2;
      width: 15rem;
      height: 15rem;
      overflow: hidden;
      object-fit: cover;
    }
    .btSpot {
      position: relative;
      top: -2.5rem;
      display: flex;
      justify-content: space-around;
      z-index: 1;
    }
  }
}

@media only screen and (min-width: 768px) {
  .Works {
    .work {
      max-width: 30rem;
      img {
        width: 20rem;
        height: 20rem;
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .Works {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    .work {
      max-width: 25rem;
    }
  }

  // .work {
  //   margin-bottom: 1rem;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  //   .blue-square {
  //     padding: 2rem 3rem;
  //   }
  //   .bs {
  //     top: 2rem;
  //     left: -2rem;
  //   }

  //   img {
  //     width: 30%;
  //   }
  //   .btSpot {
  //     position: relative;
  //     top: -2.6rem;
  //     display: flex;
  //     justify-content: space-around;
  //   }
  // }
}
