.Works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  .work {
    display: flex;
    flex-direction: column;
    .bs {
      top: -7.5rem;
      left: 0.5rem;
      z-index: 0;
    }
    .blue-square {
      padding: 8rem 1rem 3rem 1rem;
      .dots {
        width: 10%;
        margin: auto;
      }
      h2 {
        color: $teal;
        font-size: 1.5rem;
      }
      .madeIn {
        font-size: smaller;
      }
      .group {
        margin-bottom: 0.5rem;
        h2 {
          margin-right: 0.5rem;
        }
      }
      .front {
        display: flex;
        flex-direction: column;
        align-items: center;
        .tech {
          width: 100%;
          .technos {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            img {
              height: 2.5rem;
            }
          }
        }
        .obj-ctxt {
          z-index: 1;
          a:hover,
          a:focus,
          a:active {
            color: $teal;
            cursor: pointer;
          }
        }
      }
      .back {
        position: absolute;
        margin-top: 2rem;
        .Desc {
          p {
            margin: 0.5rem;
          }
        }
      }
      .ReadMore {
        align-self: center;
        color: $teal;
      }
      .ReadMore:hover,
      .ReadMore:focus,
      .ReadMore:active {
        color: $white;
        cursor: pointer;
      }
    }
    .coverim {
      z-index: 2;
      width: 15rem;
      height: 15rem;
      overflow: hidden;
      object-fit: cover;
    }
    .btSpot {
      position: relative;
      top: -2.5rem;
      display: flex;
      justify-content: space-around;
      z-index: 1;
    }
  }
}

@media only screen and (min-width: 768px) {
  .Works {
    .work {
      max-width: 30rem;
      .coverim {
        width: 20rem;
        height: 20rem;
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .Works {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    .work {
      max-width: 25rem;
      margin: 0 2rem;
      .blue-square {
        .group {
          display: flex;
          p {
            align-self: flex-end;
          }
        }
      }
    }
  }
}
